@import '../../values';

.container {
    max-width: 800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    .loading {
        margin-left: auto;
        margin-right: auto;
    }
    .pagination {
        display: flex;
        justify-content: space-between;
    }
}
